.header {
  box-sizing: border-box;
  padding: $space 0;
  @media only screen and (max-width: 1024px) {
    padding: $space;
  }
  &__auth {
    display: flex;
    justify-content: flex-end;
    &--item {
      margin: 0 $space;
      display: flex;
      align-items: center;
      padding-top: $space / 2;
      &-1 {
      }
      &-2 {
      }
      &-3 {
      }
      &-4 {
        margin-left: $space * 4;
        box-sizing: border-box;
        border: 1px solid black;
        padding-left: $space / 2;
        padding-right: $space / 2;
        border-radius: 10px;
      }
      &-5 {
        padding-top: 0;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-top: $space * 2;
    &--logo {
      width: 100px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &--ul {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    &--link {
      font-size: 16px;
      box-sizing: border-box;
      position: relative;
      margin: 0 $space * 2;
      padding-bottom: $space / 2;
      transition: all 0.2s ease-out;
      &:hover {
        color: #2154bd;
      }
      &::after {
        content: "";
        width: 0;
        height: 3px;
        background-color: #2154bd;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.2s ease-out;
      }
      &:hover::after {
        width: 100%;
        opacity: 1;
      }
      a {
        font-weight: 700;
      }
    }
    &--toggle {
      span {
        margin-left: $space / 2;
      }
    }
  }
}
