.todo {
  &__filters {
    display: flex;
    justify-content: space-between;
    margin: $base-spacing * 2 0;
  }

  &__filter {
    width: 100%;
    box-sizing: border-box;
    padding: $base-spacing $base-spacing * 2;
    background-color: white;
    &--active {
      background-color: black;
      color: white;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: $base-spacing * 2;
    font-size: 18px;
    outline: none;
    letter-spacing: 1.4px;
  }

  &__items {
    margin-top: $base-spacing * 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__edit {
    input {
      box-sizing: border-box;
      padding: $base-spacing $base-spacing * 2;
    }
  }

  &__item {
    width: 100%;
    margin: 8px;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 1.5;
    box-sizing: border-box;
    padding: $base-spacing $base-spacing * 2;
    padding-right: $base-spacing * 4;
    border-radius: 16px;
    cursor: pointer;
  }
  &__text {
    margin-right: auto;
  }

  &__global-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $base-spacing * 1.5;
  }

  &__global-action {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
