.todo {
  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    font-size: 18px;
    outline: none;
    letter-spacing: 1.4px;
  }

  &__contents {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    margin: 8px;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 8px 16px;
    padding-right: 0;
    border-radius: 16px;
    cursor: pointer;

    &.done {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 90%;
        height: 1px;
        background: black;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
