.info {
  margin: $space * 8 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'window document plaza'
    'window mobile mobile'
    'window mobile mobile';

  &__card {
    h2 {
      font-size: 27px;
      margin-bottom: $space * 2;
    }

    &--1 {
      background-color: $light-blue;
      grid-area: window;
      padding: $space * 6 $space * 4;

      * {
        color: $white;
      }
      // 인터넷창구 이용안내
      h2 {
        font-size: 27px;
        margin-bottom: $space * 6;
      }
    }

    &--2 {
      grid-area: document;
      border: 1px solid $light-grey;

      @include flex(row, center, space-around);

      i {
        font-size: 40px;
      }
    }

    &--3 {
      background-color: $dark-grey;
      grid-area: plaza;

      @include flex(row, center, space-around);

      * {
        color: $white;
      }

      i {
        font-size: 40px;
      }
    }

    &--4 {
      background-color: $light-grey;
      grid-area: mobile;
      display: flex;
      align-items: center;
      padding: 0 $space * 4;

      > div {
        flex: 0 0 50%;
        padding-left: $space * 2;
      }

      > i {
        flex: 0 0 50%;
        text-align: center;
        font-size: 70px;
      }
    }
  }

  // card 1
  &__item {
    margin-bottom: $space * 3;
    padding-bottom: $space * 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__link {
    font-size: 16px;
    margin-right: $space;
  }
}
